<div>
  <label>Favorite Input:</label><br>
  <input type="text" id="favoriteInput"><br>
  <a class="btn btn-lg btn-primary" role="button" (click)="addFavorite()">Add a favorite restaurant</a>
  <a class="btn btn-lg btn-primary" role="button" (click)="removeFavorite()">Remove a favorite restaurant</a><br>
  <br>

  <label>Blocked Input:</label><br>
  <input type="text" id="blockedInput"><br>
  <a class="btn btn-lg btn-primary" role="button" (click)="addBlocked()">Add a blocked restaurant</a>
  <a class="btn btn-lg btn-primary" role="button" (click)="removeBlocked()">Remove a blocked restaurant</a><br>
  <br>
</div>


<table id="userlists">
  <tr>
    <th>Favorites</th>
  </tr>
  <sl-item [inputList]="favorites"></sl-item>
</table>

<table id="userlists">
  <tr>
    <th>Blocked</th>
  </tr>
  <sl-item [inputList]="blocked"></sl-item>
</table>

<table id="userlists">
  <tr>
    <th>History</th>
  </tr>
  <sl-item [inputList]="history"></sl-item>
</table>

