<div class="container">
  <div class="panel panel-default" style="border-width: 0px; border-style:solid">
    <div class="panel-default">
      <h3>Restaurant List</h3>
    </div>
    <br>
    <div>
      <ul class="list-group">
        <li class= "list-group-item" *ngFor="let restaurant of restaurantList">
            <a [routerLink]="['/app/restaurant/', restaurant.restaurantId]" class="list-group-item">
              <h4 class="list-group-item-heading">{{restaurant.name}}</h4>
              <h4>{{restaurant.price}}</h4>
              <h4 class="list-group-item-text">{{restaurant.locationCity}}, {{restaurant.locationState}}
                {{restaurant.locationZip}}</h4>
              <h4><a href="{{restaurant.url}}">{{restaurant.url}}</a></h4>
            </a>
      </ul>

      <table class="table" style="font-size:10pt;">
        <thead>
        <tr>
          <th>Roulette</th>
          <th width="5%"></th>
          <th width="5%">Name</th>
          <th width="5%">ID</th>
          <th width="5%"></th>
          <th width="5%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><a class="btn btn-lg btn-primary" role="button" (click)="pickRestaurant()">Pick A Restaurant</a></td>
          <td></td>
          <td><textarea [(ngModel)]="restaurantIdDispName" disabled="true"></textarea></td>
          <td><textarea [(ngModel)]="restaurantIdDispId" disabled="true"></textarea></td>
          <td><textarea [(ngModel)]="longDisp" disabled="true"></textarea></td>
          <td><textarea [(ngModel)]="latDisp" disabled="true"></textarea></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
