<div class="container">
  <div class="panel panel-default" style="border-width: 0px; border-style:solid">
    <div class="panel-default">
      <h3>{{firstname}} {{lastname}}</h3>
      <img src="{{photoUrl}}" width="100" height="100">
    </div>
    <br>
    <div>
      <table class="table" style="font-size:10pt;">
        <thead>
        <tr>
          <th width="20%">Email Address</th>
          <th width="10%">Login Type</th>
          <th width="20%">Last Login</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{email}}</td>
          <td>{{loginType}}</td>
          <td>{{lastLogin}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-savedlist></app-savedlist>
